<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
</head>

<style>
  .fa-pen:before {
    content: "\f080";
  }
</style>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation -->
  <!-- <app-header></app-header> -->
  <div class="content-wrapper">
    <div id="overlay" class=""></div>
    <span id="loader" class="">Loading... </span>
    <div class="container-fluid">
      <!-- Title -->
      <div class="filter_row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <span>Manage Customers</span>
            </li>
            <li class="upgradeDB">
              <button class="inputbutton">Upgrade Database</button>
            </li>
            <li class="addNew">
              <button class="inputbutton" (click)="openPopup('add', '')">Add New</button>
            </li>
          </ol>
        </div>
      </div>

      <!-- Table Data -->
      <!-- <div class="filter_row noProductChannel" *ngIf="channelItems.length == 0">
        <span class="boldFontWeight">No Product Channel are assigned to this user</span>
      </div> -->
      <div class="filter_row">
        <div class="col-md-12">
          <div class="table-container borderRadius">
            <div class="table-responsive" id="recent_main_div">
              <table id="download">
                <thead>
                  <tr>
                    <!-- <th><input type="checkbox" (click)="selectAll()" /></th> -->
                    <th>Customer Name</th>
                    <th>Admin Email</th>
                    <th>Current DB Version</th>
                    <th>Available DB Version</th>
                    <th>Status</th>
                    <th>Modified By</th>
                    <th>Last Updated Date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container>
                    <tr class="table-row" *ngFor="let rData of responseData | paginate: { 
                      itemsPerPage: paginationSize, 
                      currentPage: paginationData.currentPage, 
                      totalItems: paginationData.totalRecord }" [id]="rData.customerId">
                      <!-- <td><input type="checkbox" [checked]="rData.selected" /></td> -->
                      <td>{{ rData.customerName }}</td>
                      <td>{{ rData.adminEmail }}</td>
                      <td>{{ rData.currentDBVersion }}</td>
                      <td>{{ rData.availableDBVersion }}</td>
                      <td>{{rData.customerStatus}}</td>
                      <td>{{ rData.modifiedBy }}</td>
                      <td>{{ rData.lastUpdatedDate }}</td>
                      <td (click)="openPopup('edit', rData.customerId)" style="cursor: pointer;">
                        <i class="fa fa-pencil"></i>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="table-responsive" id="recent_main_divmobile">
              <div *ngIf="isLoading">
                <div class="whiteBackground">
                  <div class="custom-spinner">
                    <div class="spinner"></div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="
                  (responseData.length === 0)
                "
                class="failed_norecords noRecords"
              >
                No Records Found
              </div>
              <ng-container
                *ngIf="
                  responseData.length > 0
                "
              >
                <div
                  class="outer-box table-row"
                  *ngFor="let rData of responseData | paginate: { 
                    itemsPerPage: paginationSize, 
                    currentPage: paginationData.currentPage, 
                    totalItems: paginationData.totalRecord }" [id]="rData.customerId"
                >
                  <div class="responsive_row">
                    <div class="col-xs-6 mobiletd">
                      <span class="mobilethead">Customer Name</span>
                    </div>
                    <div class="col-xs-6 mobiletd">
                      <span class="mobiletbody boldFontWeight"
                        >{{ rData.customerName }}
                      </span>
                    </div>
                  </div>
                  <div class="responsive_row">
                    <div class="col-xs-6 mobiletd">
                      <span class="mobilethead">Admin Email</span>
                    </div>
                    <div class="col-xs-6 mobiletd">
                      <span class="mobiletbody">{{ rData.adminEmail }}</span>
                    </div>
                  </div>
                  <div class="responsive_row">
                    <div class="col-xs-6 mobiletd">
                      <span class="mobilethead">Current DB Version</span>
                    </div>
                    <div class="col-xs-6 mobiletd">
                      <span class="mobiletbody">{{ rData.currentDBVersion }}</span>
                    </div>
                  </div>
                  <div class="responsive_row">
                    <div class="col-xs-6 mobiletd">
                      <span class="mobilethead">Available DB Version</span>
                    </div>
                    <div class="col-xs-6 mobiletd">
                      <span class="mobiletbody">{{ rData.availableDBVersion }}</span>
                    </div>
                  </div>
                  <div class="responsive_row">
                    <div class="col-xs-6 mobiletd">
                      <span class="mobilethead">Status</span>
                    </div>
                    <div class="col-xs-6 mobiletd">
                      <span class="mobiletbody">{{ rData.customerStatus }}</span>
                    </div>
                  </div>
                  <div class="responsive_row">
                    <div class="col-xs-6 mobiletd">
                      <span class="mobilethead">Modified By</span>
                    </div>
                    <div class="col-xs-6 mobiletd">
                      <span class="mobiletbody">{{ rData.modifiedBy }}</span>
                    </div>
                  </div>
                  <div class="responsive_row">
                    <div class="col-xs-6 mobiletd">
                      <span class="mobilethead">Last Updated Date</span>
                    </div>
                    <div class="col-xs-6 mobiletd">
                      <span class="mobiletbody">{{ rData.lastUpdatedDate }}</span>
                    </div>
                  </div>
                  <div class="responsive_row">
                    <div class="col-xs-6 mobiletd">
                      <span class="mobilethead"></span>
                    </div>
                    <div class="col-xs-6 mobiletd">
                      <span class="mobiletbody" (click)="openPopup('edit', rData.customerId)" style="cursor:pointer"><i class="fa fa-pencil"></i></span>
                    </div>
                  </div>                  
                </div>
              </ng-container>
            </div>
            <div></div>
            <div class="topMargin">
              <pagination-controls (pageChange)="handlePageChange($event)" style="float: right;"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>

  <!-- Modal for Add/Edit Customer -->
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': adddisplayStyle}">
    <div class="modal-dialog custom-modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <span>{{ formHeading }}</span>
          <span class="closebtn" (click)="closePopup()">x</span>
        </div>
        <div class="modal-body">
          <form #customerForm="ngForm">
            <!-- Customer Information -->
            <div class="row">
              <div class="col-md-12">
                <p class="info">Customer Information</p>
              </div>
              <div class="col-md-4">
                <label for="customerName">Customer Name</label>
                <input type="text" id="customerName" name="customerName" [(ngModel)]="customer.customerName" required [readonly]="isReadonly" class="form-control" (keydown)="inputValidation($event)" />
              </div>
              <div class="col-md-4">
                <label for="adminEmail">Admin Email</label>
                <input type="email" id="adminEmail" name="adminEmail" [(ngModel)]="customer.adminEmail" required class="form-control" (keydown)="inputValidation($event)"/>
                <span class="errorMessage">{{showErrorMessage}}</span>
              </div>
              <div class="col-md-4">
                <label for="status">Status</label>
                <select name="role"
                class="customerStatus"
                [(ngModel)]="customer.customerStatus"
                >
                  <option value="Active"> Active </option>
                  <option value="Inactive"> Inactive </option>
                </select>
              </div>
            </div>
            <br />

            <!-- Auth0 Configuration -->
            <div class="row">
              <div class="col-md-12">
                <p class="info">Auth0 Configuration</p>
                <div class="form-group">
                  <label for="domain">Domain</label>
                  <input type="text" id="domain" name="domain" [(ngModel)]="customer.domain" required class="form-control" (keydown)="inputValidation($event)" />
                </div>
                <div class="form-group">
                  <label for="clientId">Client Id</label>
                  <input type="text" id="clientId" name="clientId" [(ngModel)]="customer.clientId" required class="form-control" (keydown)="inputValidation($event)"/>
                </div>
                <div class="form-group">
                  <label for="clientSecret">Client Secret</label>
                  <input type="text" id="clientSecret" name="clientSecret" [(ngModel)]="customer.clientSecret" required class="form-control" (keydown)="inputValidation($event)" />
                </div>
                <div class="form-group">
                  <label for="redirectUri">Redirect URI</label>
                  <input type="text" id="redirectUri" name="redirectUri" [(ngModel)]="customer.redirectUri" required class="form-control" (keydown)="inputValidation($event)" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveCustomer()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
